@import "tailwindcss";

:root {
  /* Luxury Color Palette */
  --background: #faf9f6;
  --foreground: #1f1f1f;

  --primary: #1f1f1f;
  --secondary: #6b6b6b;

  --accent: #c8a96a;
  --accent-hover: #b99756;

  --white: #ffffff;

  --border: #e5e5e5;

  --success: #22c55e;
  --danger: #ef4444;

  /* Fonts */
  --font-body: var(--font-inter);
  --font-heading: var(--font-playfair);

  /* Radius */
  --radius: 12px;

  /* Shadows */
  --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-body);

  overflow-x: hidden;

  min-height: 100vh;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}